<% provide(:title, "Edit user") %>
<% if signed_in? && @user.id == current_user.id %>
<h1>Update your profile</h1>

<div class="hero-unit container">
  <div class="row">

    <div class="span5 offset1">
      
      <%= image_tag("user_edit.png", :alt => "user_edit") %>

    </div>

    <div class="span4 offset1">
    
      <%= form_for(@user) do |f| %>

        <%= render 'shared/error_messages_for_user' %>

        <!-- <%= gravatar_for @user %> -->
        <a class="fa fa-picture-o fa-5x" href="http://gravatar.com/emails"
                  style="text-decoration: none"></a>
        
        <br />

        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Confirm Password" %>
        <%= f.password_field :password_confirmation %>

        <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
      <% end %>

    </div>

  </div>
</div>
<% end %>